.text-emphasis{
    font-family: 'Rubik', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 1em;
    text-transform: uppercase;
}
.text-emphasis-light{
    @extend .text-emphasis;
    font-style: normal;
    font-weight: 300;
}
.text-light{
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 1em;
}