@import "mixins.scss";
@import "text-styles.scss";
@import "footer.scss";
@import "navbar.scss";
@import "colors.scss";
*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
.title-left{
    a{ color: inherit; }
    a:hover{ opacity: 0.5; }
    @extend .text-emphasis;
    vertical-align: top;
    display: inline-block;
    word-break: break-all;
    width: 40%;
    padding-right: 2%;
    text-align: right;
    box-sizing: border-box;
    font-size: 3em;
}
.title-center{
    font-size: 3em;
    word-break: normal;
    width: 100%;
    padding: 0;
    text-align: center;
    border: none;
    display: inline;
}
.description-center{
    border: none;
    padding-left: 0;
    width: 100%;
}
.description-right{
    @extend .text-light;
    border-left: 1px solid black;
    line-height: 2em;
    box-sizing: border-box;
    vertical-align: top;
    display: inline-block;
    font-size: .7em;
    text-indent: 20px;
    text-align: left;
    padding-left: 2%;
    width: 50%;
    text-transform: none;
}
.large-banner{
    width: 100vw;
    height: 40vw;
    max-height: 400px;
    text-align: center;
}
#title{
    background-color: $red;
    @extend .large-banner;
    @extend .text-emphasis;
    p{
        color: white;
        display: inline-block;
        font-size: 2em;
        padding: 0 5vw;
        @include vertical-align();
    }
}
.contact{
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
    padding: 40px 0;
    text-align: center;
    a{ text-decoration: underline; }
    a:hover{ opacity: 0.5; }
    .left{ 
        @extend .title-left;
        word-break: keep-all;
    }
    .right{
        @extend .description-right;
        font-size: 1em;
    }
    .contact-links-container{ 
        @include flexbox;
        @include justify-content(center);
    }
    img{ max-width: 80%; }
    
}
#about{
    background-color: black;
    background-image: url(images/sf-night.jpg);
    background-size: cover;
    background-position: center center;
    text-align: center;
    @extend .large-banner;
    span{
        line-height: 1.5em;
        color: white;
        display: inline-block;
        padding: 0 1vw;
        @include vertical-align();
    }
    span.names{ text-align: left; }
    span.positions{  text-align: right; }
}
.link-container{
    text-align: center;
    background-color: $red;
}
.link{
    background-color: $red;
    padding: 2vw 0;
    text-align: center;
    &:hover { color: white; }
    .img-fill{
        @include transition(background-color .3s);
        display: inline-block;
        width: 50%;
        padding: 0;
        &.light{ background-color: white; }
        &.dark{ background-color: black; }
        &:hover{ background-color: $red; } 
        img{ 
            width: 100%; 
            vertical-align: bottom; 
        }
        
    }
    .content{
        padding: 1vw 0;
        @extend .text-emphasis;
        font-size: 2em;
        span a{ color: white; }
        span a:hover{ color: black; }
    }
}
.header{
    @extend .large-banner;
    background-position: center center;
    background-size: cover;
    span{
        display: inline-block;
        @include vertical-align();
        font-size: 2em;
        color: white;
    }
    img{
        height: 2em;
        @include vertical-align();
    }
    &#header-illustration { background-image: url(images/illustration.JPG);}
    &#header-mobile { background-image: url(images/mobile.jpg);}
    &#header-graphic { background-image: url(images/graphic.jpg);}
     &#header-smart-suds { background-image: url(images/smart-suds/laundromat.jpg);}
    &#header-web { background-image: url(images/stripes2-edited.jpg);}
}
.illustration-container{
    text-align: center;
    padding: 5%;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    @include align-items(center);
    @include flexbox;
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include justify-content(space-around);
    .item{
        border: 1px solid #f7f7f7;
        margin-bottom: 1%;
        padding: 5px;
        position: relative;
        overflow: hidden;
        box-sizing: border-box;
        background-color: white;
        width: 49%;
        img{
            width: 100%;
            height: auto;
            position: relative;
        }
        .caption{
            position: absolute;
            background-color: black;
            top: 5px;
            left: 5px;
            bottom: 5px;
            right: 5px;
            color: white;
        }
        .caption span{
            display: inline;
            position: absolute;
            bottom: 5%;
            width: 90%;
            &.title{ 
                overflow: hidden;
                left: 5%;
                text-align: left;
                font-size: 3em;
                word-break: break-all;
            }
            &.description{ display: none; }
        }
        
    }
}
.mobile-container,
.graphic-container,
.smart-suds-container,
.web-container{
    .item{
        padding: 40px 20px;
        box-sizing: border-box;
        width: 100vw;
        text-align: center;
        &:nth-of-type(odd){background-color: #f7f7f7;}
        &:nth-of-type(even){background-color: white;}
        &.full-vertical{
            .screens{
                @include flex-direction(column);
                @include flex-wrap(wrap);
                width: 100%;
            }
        }
        .screens{
            width: 65%;
            margin-right: auto;
            margin-left: auto;
            max-width: 800px;
            @include flexbox;
            @include justify-content(center);
        }
        .screens#miwok{
            width: 90%;
            max-width: 900px;
            flex-wrap: wrap;
            .img-container{
                min-width: 80px;
                width: 33%;
                max-width: 150px;
            }
        }
        img{ max-width: 100%; }
        .caption{
            padding: 40px 0;
            max-width: 1000px;
            margin-right: auto;
            margin-left: auto;
        }
        .caption .title{
            @extend .title-left;
        }
        .caption .line{
            display: none;
            margin: 20px 0;
            height: 1px;
            background-color: black;
        }
        .caption .description{
            @extend .description-right;
        }
    }
}
.web-container{
    #stitch-container{
        text-align: left;
        margin-bottom: 40px;
        img{
            width: 100%; 
            display: block;
        }
        #stitch-text{
            min-height: 100%;
            box-sizing: border-box;
            vertical-align: top;
            text-align: center;
            .title{
                margin: 40px 0;
                @extend .title-left;
            }
            .description{
                margin: 40px 0;
                @extend .description-right;
            }
        }
    }
    .item .screens{
        width: 100%;
        @include flex-wrap(wrap);
        @include align-items(center);
    }
    .img-container{
        padding: 40px 0;
    }
    .img-container.small{
        width: 30%;
    }
    .img-container.full{
        width: 60%;
    }
    .img-container.small,
    .img-container.full{
        img{
            width: 100%;
            height: auto;
        }
    }
    .img-container.arrow{
        box-sizing: border-box;
        width: 5%;
        padding: 10px;
    }
}
.smart-suds-container{
    ul{
        padding-left: 20px;
        text-indent: 0;
    }
    #final-app{
        .screens{ 
            @include flex-wrap(wrap);
            @include justify-content(center);
        }
        .img-container{ max-width: 33%; }
        
    }
}
#living-community{
    .screens{
        @include flex-wrap(wrap);
    }
    .caption{
        color: lightgray;
        .description{
            border-left: 1px solid lightgray;
        }
    }
    .img-container{
        width: 33%;
    }
}
.up-button{
    &.dark{ background-image: url("images/icons/arrow_u_black.png") }
    margin-left: -90%;
    display: inline-block;
    height: 3em;
    width: 3em;
    background: url("images/icons/arrow_u.png") no-repeat center; 
    background-size: contain;
    &:hover{
        cursor: pointer;
        opacity: 0.5;
    }
}
.mobile-container{
    .item:nth-of-type(odd){
        background-color: white;
    }
    .item:nth-of-type(even){
        background-color: #f7f7f7;
    }
}
/* Small screens ----------- */
@media only screen and (max-width : 500px), (max-device-width: 500px) {
    .contact{
        .left,
        .right{
            margin-right: auto;
            margin-left: auto;
            text-align: center;
            width: 80%;
            display: block;
            border: none;
        }
        .left{
            margin-bottom: 40px;
        }
    }
    .smart-suds-container{
        #final-app{
            .screens{ 
                @include flex-wrap(wrap);
                @include justify-content(center);
            }
            .img-container{ max-width: 100%; }

        }
    }
    .mobile-container,
    .graphic-container,
    .smart-suds-container,
    .web-container{
        .item,
        #living-community{
            padding: 20px;
            .screens{ 
                @include flex-direction(column);
                @include flex-wrap(wrap);
                width: 100%;
            }
            .img-container{ width: 100%;}
            .caption{ padding: 20px 0 0 0; }
            .caption .line{ display: block; }
            .caption .title{
                font-size: 3em;
                word-break: normal;
                width: 100%;
                padding: 0;
                text-align: center;
                border: none;
                display: inline;
            }
            .caption .description{
                border: none;
                padding-left: 0;
                width: 100%;
            }
        }
        #living-community{
            .img-container{ width: 50%; }
            .screens{ @include flex-direction(row); }
            .line{ background-color: lightgray; }
        }
    }
    .link{
        padding: 20px 0;
        .img-fill{ 
            width: 30%; 
            margin-right: 10px;
        }
        @include flexbox;
        @include flex-wrap(wrap);
        @include flex-direction(row);
        @include justify-content(center);
        @include align-items(center);
    }
    .illustration-container .item { width: 100%;}
    .mobile-container .item .screens{ @include flex-direction(row); }
    .mobile-container .item .img-container{ width: 50%; }
    #title{
        font-size: 1em;
    }
    .link .background-image{
        @include filter(blur, 0px);
    }
    #about span{
        font-size: .6em;
    }
    .illustration-container .item .caption span.title{ font-size: 2em; }
    .web-container{
        #stitch-container #stitch-text{
            .title{
                font-size: 3em;
                word-break: normal;
                width: 100%;
                padding: 0;
                text-align: center;
                border: none;
                display: inline;
            }
            .description{
                border: none;
                padding-left: 0;
                width: 100%;
            }
        }
        .img-container.small{ width: 100%; }
        .img-container.full{ width: 100%; }
        .img-container.arrow{ display: none; }
        
    } 
}
@media only screen and (min-width : 650px) {
    .header{
        span{ font-size: 3em; }
        img{ height: 3em; }
    }
    .link{
        max-width: 500px;
        width: 50vw;
        display: inline-block;
    }
    

}
@media only screen and (min-width : 950px){
    .web-container #stitch-container{
             background-image: url("images/web/twindom/twindom.com-stitch-blurred.jpg");
            background-position: right center;
            background-size: cover;
        img{
            width: 65%; 
            display: inline-block;
        }
        #stitch-text{
            background-color: rgba(0,0,0,0.2);
            color: white;
            padding: 5%;
            width: 35%; 
            display: inline-block;
            .title{ 
                font-size: 2em;
                word-break: break-all;
                width: 100%;
                padding: 0;
                text-align: left;
                display: inline;
            }
            .description{
                border: none;
                width: 100%;
            }
        }
    }
    .mobile-container .item .caption .title,
    .graphic-container .item .caption .title{
        word-break: normal;
    }
}

